@use '../../styles/Global.scss' as *;

$border-radius: 0.5rem;
$image-width: 5rem;
.info-card {
    box-shadow: 0 0 0.5rem rgba($text-color, 0.1);
    border-bottom: 3px solid adjust-color($text-color, $red: 1, $alpha: -0.85);
    background-color: #fff;
    border-radius: $border-radius;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    min-width: 30rem;
    max-width: 30rem;
    margin-bottom: 2rem;

    .info-card-image {
        aspect-ratio: 1;
        min-width: $image-width;
        max-width: $image-width;
        max-height: $image-width;
        border-radius: 0.5rem;
        border: 2px solid adjust-color($text-color, $alpha: -0.9);
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            max-width: $image-width;
            max-height: $image-width;
            object-fit: cover;
        }
    }
    
    .info-card-content {
        display: flex;
        flex-direction: column;

        .title {
            font-size: 1.2rem;
            font-weight: 700;
            color: $text-color;
        }

        .date-range {
            font-size: 0.9rem;
            font-weight: 300;
            color: $text-color;
            margin-bottom: 0.5rem;
        }

        .description {

        }
    }
}