@use '../../styles/Global.scss' as *;

$image-container-size: 15rem;
$image-size: 100%;
$image-border-radius: 0%;
// $main-color: adjust-color($primary-color, $lightness: 0%);
$main-color: transparent;
$content-width: 60%;
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .opening-container {
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        gap: 2rem;
        width: $content-width;
        padding: 1rem;
        padding-bottom: 0rem;
        //background-color: rgba(0, 0, 0, 0.1);

        &::before {
            content: '';
            position: absolute;
            top: 20%;
            bottom: 0;
            left: 0;
            right: 5%;
            border-radius: 100% 0% 0 1rem;
            background-color: $primary-color;
            z-index: -1;
        }

        &::after {
            content: '';
            position: absolute;
            top: 20%;
            bottom: 0;
            left: 95%;
            right: 0;
            border-radius: 0 3rem 1rem 0;
            background-color: $primary-color;
            z-index: -1;
        }

        .image-container {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: $image-container-size;
            width: $image-container-size;
            max-width: $image-container-size;
            min-height: $image-container-size;
            height: $image-container-size;
            max-height: $image-container-size;
            border-radius: $image-border-radius;
            overflow: hidden;
            z-index: 99;

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                width: 100%;
                aspect-ratio: 1;
                border-radius: $image-border-radius;
            }

            img {
                width: $image-size;
                height: $image-size;
                object-fit: cover;
                border-radius: $image-border-radius;
                margin-top: 4rem;
            }
        }

        .description-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding-bottom: 1rem;

            .title {
                font-size: 1.75rem;
                font-weight: 700;
                font-style: normal;
                color: white;
            
            }

            .subtext, .actions {
                display: inline-flex;
                flex-wrap: wrap;
                gap: 1rem;
                font-size: 1.2rem;
                font-weight: 400;
                font-style: normal;
                color: adjust-color(white, $alpha: -0.25);

                &.actions {
                    margin-top: 1rem;
                }
            
            }
        }

        @media (max-width: $breakpoint-lg) {
            width: 90% !important;
        }

        @media (max-width: $breakpoint-md) {
            width: 90% !important;
            height: 10rem;

            $image-container-size-reduction: 5rem;
            .image-container {
                min-width: calc($image-container-size - $image-container-size-reduction);
                width: calc($image-container-size - $image-container-size-reduction);
                max-width: calc($image-container-size - $image-container-size-reduction);
                min-height: calc($image-container-size - $image-container-size-reduction);
                height: calc($image-container-size - $image-container-size-reduction);
                max-height: calc($image-container-size - $image-container-size-reduction);
                border-radius: $image-border-radius;
                margin-top: 2rem;
            }

            .description-container {
                width: 100%;
                height: 70%;
                justify-content: flex-end;
                align-items: center;
                text-align: center;
                padding-right: 1rem;

                .title {
                    font-size: 1.25rem;
                }

                .subtext {
                    font-size: 0.85rem;
                }

                .actions {
                    margin-top: 0 !important;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    .text-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        box-sizing: border-box;
        padding: 1rem;
        gap: 0.5rem;
        row-gap: 1rem;
        width: $content-width;
        color: $text-color;
        padding-bottom: 5rem;
        padding-top: 2rem;
        background-color: $main-color;

        @media (max-width: $breakpoint-lg) {
            width: 90%;

            .flex-row {
                flex-direction: column !important;
            }

            .flex-col {
                width: 100% !important;
            }
        }

        @media (max-width: $breakpoint-md) {
            table {
                th {}
                li {
                    font-size: 0.85rem !important;
                }
            }
        }

        h3 {
            font-size: 1.4rem;
            font-weight: 700;
            font-style: normal;
            color: adjust-color($text-color, $lightness: 10%);
        }

        span {
            font-size: 1.2rem;
            font-weight: 400;
            font-style: normal;
            color: adjust-color($text-color, $lightness: 15%);
        }

        table {
            table-layout: fixed;
            padding: 0;
            border-spacing: 1rem 0rem !important;

            thead {
                position: relative;
                th {
                    font-size: 1.2rem;
                    padding-bottom: 0.25rem;
                    vertical-align: top;
                    text-align: center;
                }
            }

            tr {
                td {
                    vertical-align: top;
                    text-align: left;
                    color: adjust-color($text-color, $lightness: 15%);
                    position: relative;
                }
            }

            ul {
                list-style: none;
                padding: 0 !important;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;
                flex-wrap: wrap;

                li {
                    color: $primary-color;
                    font-size: 1.1rem;
                    background-color: adjust-color($primary-color, $alpha: -0.85);
                    padding: 0.25rem 0.5rem;
                    border-radius: 0.25rem;
                }
            }
        }
    }
}